@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-boomi-blue: #043C58;
  --color-boomi-black: #1C2025;
  --color-boomi-darkBlack: #000000;
  --color-boomi-indigo: #4E4DDF;
  --color-boomi-purple: #A03291;
  --color-boomi-orange: #FA7868;
  --color-boomi-chart-blue: #36A2EB;
}

.oem-home {
  background-color: #101828;
}